@model IEnumerable<PhamaMicroCrm.Web.ViewModels.CompanyUnitViewModel>

@{
    ViewData["Title"] = "Lista de Unidades";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nova Empresa</a>
    <a class="btn btn-info" asp-controller="CompanyUnits" asp-action="Create">Nova Unidade</a>
    <a class="btn btn-info" asp-controller="Contacts" asp-action="Create">Novo Contato</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Unidade
            </th>
            <th>
                Empresa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td class="text-right">
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
