@model PhamaMicroCrm.Web.ViewModels.CompanyViewModel
@{
    ViewData["Title"] = "Detalhes";
}

<h1>@Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Field)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Field)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<br />

<div>
    <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>

<br />
<hr />
<h4>Unidades</h4>

<div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nome Unidade
                </th>
                <th>
                    Telefone 1
                </th>
                <th>
                    Telefone 2
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var units in Model.CompanyUnits)
            {
                <tr>
                    <td>@units.Name</td>
                    <td>@units.Phone_1</td>
                    <td>@units.Phone_2</td>
                </tr>
            }
        </tbody>
    </table>
</div>